.responsive-btn button {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.9rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #adadad #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.mobile-table {
  max-height: 500px !important;
  overflow: auto;
}

@media (max-width: 600px) {
  .mobile-table {
    max-height: 300px !important;
  }
  .mobile-table table {
    font-size: 80%;
    width: 500px;
  }
}
