#profile .img-thumbnail {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  #profile {
    width: 100% !important;
    height: 500px;
    overflow: auto;
  }
  #profile .img-thumbnail {
    height: 150px;
    width: 150px;
  }
  #profile main,
  #profile main form {
    width: 100% !important;
  }
}
