#profile .img-thumbnail {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  #profile .img-thumbnail {
    height: 150px;
    width: 150px;
  }
  #profile main,
  #profile main form {
    width: 90% !important;
    margin-bottom: 5%;
  }
}

@media (max-width: 300px) {
  #profile main,
  #profile main form {
    width: 100% !important;
  }
}
